<!-- <!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Dave's Sarcasm Detector</title>
  <meta name="description" content="Dave's Sarcasm Detector">
  <meta name="author" content="@DWKPhD"> -->

 <!--  <link rel="stylesheet" href="css/styles.css?v=1.0"> -->
<!-- </head> -->

<!-- <body> -->
 <!--  <script src="js/scripts.js"></script> -->
	<div>
		<p>
			"This Data Science app was designed to detect if a comment is sarcastic or not."
		</p>
		<p>
			"It was originally written in R for my Fundamentals of Data Science class, but it has since been re-written in Python / Django and deployed to Heroku."
		</p>
	</div>
	<form action="/action_page.php">
	  <label for="input-text">Input a text, and the Sarcasm Deterctor will predict if it is sarcastic or not:</label>
	  <input type="text" id="input-text" name="input-text" value="Enter your text here!">
	  <input type="submit" value="Submit">
	</form>
<!-- 
</body>
</html> -->